* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 3px 0 rgba(87, 79, 79, 0.2);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        height: 10vh;
    }

    a {
        color: #4B5563;
        font-size: 1.3rem;
    }
}

.btnVerde {
    background-color: #21C05C;
    color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    border: none;
}

.caixalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;


    h1 {
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif;
    }
}

.apresentacao {

    display: flex;
    justify-content: space-around;
    height: 70vh;
    box-shadow: 0 3px 0 rgba(87, 79, 79, 0.2);

    section {
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        font-family: "Roboto", sans-serif;

        h2 {
            font-size: 3.75rem;
            width: 60%;
        }

        p {
            font-size: 1.25rem;
            width: 50%;
        }
    }
}

.boxbtnprimeirasection {
    display: flex;
    justify-content: space-between;
    width: 40%;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
    }

    button img {
        margin-left: 8px;
    }

    #btnverde {
        background-color: #21C05C;
        color: #ffffff;
        width: 10vw;
    }

    #btnbranco {
        background-color: #ffffff;
        color: #2563eb;
        border: solid #2563eb 1px;
        width: 10vw;
    }
}


.dados {

    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", sans-serif;

    div {
        height: 15vh;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }



    h3 {
        font-size: 2.5rem;
        color: #21C05C;
    }

    p {

        color: #4B5563;
        font-size: 1rem;



    }
}

.como-funciona {
    font-family: "Roboto", sans-serif;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    align-items: flex-start;
    justify-content: space-around;

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.cards {
    display: flex;
    justify-content: center;
    padding: 8vh 0;
    font-family: "Inter", sans-serif;
}

.cards article {
    background-color: #f9fafb;
    padding: 2rem;
    border-radius: 1rem;
    width: 28vw;
}

.tituloDoador {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #21C05C;
    font-weight: 400;
}

.tituloAdquirente {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2563EB;
    font-weight: 400;
}


.titulo img {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.6rem;
}

.cards p {
    font-size: 0.95rem;
    color: #6b7280;
    margin-bottom: 1rem;
}

.cards ul {
    padding-left: 1.2rem;
}

.cards li {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    font-weight: 700;
}



.produtosDisponiveis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    font-family: "Roboto", sans-serif;

}

.produtosDisponiveis article {
    border: solid 0.1rem #16A34A;
    border-radius: 0.5rem;
    width: 18%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.produtosDisponiveis article img {
    width: 100%;
}

.produtosDisponiveis article p {
    text-align: center;
    width: 90%;
}

.produtosDisponiveis article button {
    margin-bottom: 2rem;
    padding: 1rem;
}

.avaliacoes {
    height: 60vh;
    font-family: "Roboto", sans-serif;



    h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        color: #4B5563;
        padding-top: 1.5rem;
    }
}

.comentarios {
    height: 50vh;
    padding-top: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.comentarios article {
    border-radius: 0.5rem;
    border: solid 0.1rem #16A34A;
    width: 15%;
    height: 30vh;
    padding: 2rem;

    h5 {
        font-weight: 400;
        padding-top: 0.5rem;
    }

    h6 {

        font-weight: 300;
    }

}

.final {
    height: 50vh;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 2.5rem;
        margin-top: 15vh;
    }

    h3 {
        width: 40%;
        font-weight: 400;
        text-align: center;
        margin-top: 5vh;
        font-size: 1.5rem;
    }
}

.botoesFinal {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    width: 20vw;

    .comecarAgora {
        background-color: #16A34A;
        font-family: "Inter", sans-serif;
        border-radius: 6px;
        padding: 10px 30px;
        border: none;
        color: #ffffff;

    }

    .saberMais {
        background-color: #ffffff;
        color: #16A34A;
        font-family: "Inter", sans-serif;
        border-radius: 6px;
        padding: 10px 30px;
        border: solid 0.1rem #16A34A;

    }
}

footer {

    background-color: #1F2937;
    height: 40vh;
    font-family: "Roboto", sans-serif;

    padding-top: 5rem;

    .footerConteudo {
        display: flex;
        justify-content: space-evenly;

        p {
            font-size: 1rem;
            color: #9CA3AF;
            width: 14rem;
            font-weight: 400;
            margin-top: 2vh;
        }
    }

    .logoReciclagem {
        display: flex;
        flex-direction: column;
    }

    .logoTitulo {
        display: flex;
        align-items: center;
    }

    .logoTitulo img {
        width: 22px;
        height: 22px;
        margin-right: 0.5rem;
    }

    .logoReciclagem h4 {
        font-size: 1.25rem;
        color: #ffffff;
        font-family: "Inter", sans-serif;
        margin: 0;
    }

    .redesSociais {

        h4 {
            color: #ffffff;
            font-family: "Inter", sans-serif;
            font-size: 1.25rem;
            font-weight: 700;
        }

        img {
            margin-top: 1rem;
        }
    }
}

.finalFooter {

    display: flex;
    justify-content: center;
    margin-top: 10vh;
    border-top: solid 1px #9CA3AF;


    .fraseFinal {
        color: #9CA3AF;
        margin-top: 1rem;

    }
}




@media(max-width: 500px) {
    header {
        display: flex;
        height: 25vh;
        flex-direction: column;

        .caixalogo {
            width: 100vw;
            justify-content: center;
        }


        nav {
            display: flex;
            width: 100%;
            justify-content: space-evenly;


            a {
                font-size: 0.8rem;
            }
        }
    }

    .caixaLogo {
        width: 50%;

        h1 {
            font-size: 1rem;
            width: 20vw;
        }
    }

    .apresentacao {
        flex-direction: column;
        align-items: center;

        img {
            width: 50vw;
        }

        section {
            display: flex;
            justify-content: space-evenly;
            height: 50vh;

            h2 {
                font-size: 2.3rem;
                width: 100%;
                text-align: center;
            }

            p {
                width: 100%;
                text-align: center;
                font-size: 1rem;
            }
        }
    }

    .boxbtnprimeirasection {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        cursor: pointer;

        align-items: center;

        button {
            padding: 0.5rem 5rem;
        }
    }

    .dados {
        height: 20vh;
        background-color: #e2e5e7;

        div {
            width: 25%;
            height: 12vh;
            justify-content: space-evenly;

            h3 {
                font-size: 1.5rem;

            }

            p {
                font-size: 1rem;
                text-align: center;
            }
        }
    }

    .como-funciona {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20vh;
        text-align: center;

        h2 {
            //border: solid;
            font-size: 2.5rem;
            text-align: center;
            font-weight: 700;

        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
        }

    }

    .cards {
        height: 80;
        display: flex;
        flex-direction: column;
        align-items: center;

        article {
            background-color: #e2e5e7;
            width: 90vw;
            justify-content: center;
            margin-top: 1rem;

            p {
                width: 100%;
            }

        }
    }
.produtosDisponiveis {  
    height: 180vh;
    display: flex;
    flex-direction: column;
    
}
.produtosDisponiveis article {
    height: 55vh;
  width: 80vw;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;  
}
.avaliacoes {
    height: 130vh;
    margin-top: 5rem;
h2 {
   width: 100%;
   font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
}
.comentarios {
    display: flex;
    flex-direction: column;

article {
    width: 50%;
    height: 50vh;
    margin-top: 1rem;
    align-items: center;
}
}
.final {
    height: 50vh;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1rem;
        width: 100%;
        font-weight: 100;
    }
}
.botoesFinal {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
}