* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 2px 0 rgba(85, 83, 83, 0.2);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        height: 10vh;
    }

    a {
        color: #4B5563;
        font-size: 1.3rem;
    }
}

.btnVerde {
    background-color: #21C05C;
    color: #ffffff;
    padding: 20px;
    border-radius: 6px;
}

.caixalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;

    h1 {
        font-size: 2.5rem;
    }
}

.apresentacao {

    display: flex;
    justify-content: space-around;
    height: 70vh;

    section {
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;

        h2 {
            font-size: 3.75rem;
            width: 60%;
        }

        p {
            font-size: 1.25rem;
            width: 50%;
        }
    }
}

.boxbtnprimeirasection {

    display: flex;
    justify-content: space-between;
    width: 40%;

    button {
        padding: 20px 30px;
        cursor: pointer;
    }
}


// .dados {

//     height: 40vh;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;



//     h3 {
//         font-size: 2.5rem;
//         color: #21C05C;
//         font-family: "Roboto", sans-serif;

//     }

//     p {
//         color: #4B5563;
//         font-size: 1rem;
//         font-family: "Roboto", sans-serif;
//         margin-top: 10%;


//     }
// }

// .como-funciona {
//     background-color: red;
//     height: 30vh;
//     display: flex;
//     flex-direction: column;
//     padding-left: 10%;
//     align-items: flex-start;

//     h2 {}
// }